data:
  dotfiles:
    fish:      "{{ .chezmoi.sourceDir }}/fish"
    nvim:      "{{ .chezmoi.sourceDir }}/nvim"
    starship:  "{{ .chezmoi.sourceDir }}/starship"
    wezterm:   "{{ .chezmoi.sourceDir }}/wezterm"
    fzf:       "{{ .chezmoi.sourceDir }}/fzf"
    wsl:       "{{ .chezmoi.sourceDir }}/wsl"
    zellij:    "{{ .chezmoi.sourceDir }}/zellij"
    direnv:    "{{ .chezmoi.sourceDir }}/direnv"
    bat:       "{{ .chezmoi.sourceDir }}/bat"
    bottom:    "{{ .chezmoi.sourceDir }}/bottom"
    lazygit:   "{{ .chezmoi.sourceDir }}/lazygit"
    uv:        "{{ .chezmoi.sourceDir }}/uv"
    alacrity:  "{{ .chezmoi.sourceDir }}/alacrity"
    kitty:     "{{ .chezmoi.sourceDir }}/kitty"